#main-menu{
  background-color: black;
  margin-bottom: 2%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

li {
  float: left;
}

#login-menu{
  vertical-align: baseline;
}

#login-element{
  margin: 5%;
}

#section-login{
  padding: 5%;
  width: 30%;
  margin: auto;
  text-align: -webkit-center;
  box-shadow: 0px 0px 10px grey;
}

#logout{
  box-shadow: 0px 0px 5px grey;
  margin: 2% 0px;
  background-color: white;
  border-style: none;
  width: 100%;
  cursor: pointer;
}

#logout:hover{
  box-shadow: 0px 0px 8px #009cb1;
}

.w3-card-4{
  margin: auto;
}